
<div class="a container mx-auto">
    <div class="b container mx-auto shadow-lg mb-5 bg-white">
        <div class="row grid-divider">
            <ul class="nav nav-pills nav-fill" (click)="onButtonGroupClick($event)">
                <li class="nav-item">
                    <button class="nav-link about bar active" aria-current="page" href="#">About</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link projects bar active" href="#">Projects</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link stack bar active" href="#">Stack</button>
                </li>
            </ul>
        </div>
    </div>
</div>