* {
    margin: 0px;
    padding: 0px;
    
    background-color: white;
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 7.5px;
}

.navbar {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    padding: 0px 2.5%;


}

button {
    color:black;
    border-color: #f7efef;
    outline: none;
    border-radius: 5px;
    border: none;
    transition: all 0.3 ease 0s;
    padding: 25px;
    font-size: 20px;
            font-weight: 750;
            text-transform: uppercase;
}

button:hover {
    color: #9fafca;
}

.a{
    width: 100%;  
}

.b{
    border: .5px solid black;
}

li {
    list-style: none;
}

.border-md-right {
    border-right: 1px solid silver;
}

@media (max-width: 768px) {

    .border-md-right {
        border-right: none;
    }

        button {
            color: black;
            border-color: #f7efef;
            outline: none;
            border-radius: 5px;
            border: none;
            transition: all 0.3 ease 0s;
            padding: 12px;
            font-size: 14px;
            font-weight: 750;
            text-transform: uppercase;
        }

}

.col-centered {
    float: none;
    margin: 0 auto;
}

.about.bar.active {
    background-color: #0e387a;
    animation: clicked ease;
    animation-duration: 1s;
}

.projects.bar.active {
    background-color: #0e387a;
    animation: clicked ease;
    animation-duration: 1s;
    
}

.stack.bar.active {
    background-color: #0e387a;
    animation: clicked ease;
    animation-duration: 1s;
}

@keyframes clicked {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}