
<div class="a container mx-auto">
<ol>
    <div class="b container mx-auto shadow-lg mb-5 bg-white">
        <div class="row grid-divider">

            <nav class="links d-flex justify-content-evenly">

                <div class="col about">
                <li>
                    <div class="d-flex justify-content-center">
                        
                        <button class="mx-auto">About Me</button>
                    </div>
                </li>
                </div>
            
                
                <div class="col projects">
                    <li>
                    <div class="d-flex justify-content-center">
                    <button class="mx-auto">Projects</button>
                    </div>
                    </li>
                </div>
                
                <div class="col tech">
                    <li>
                    <div class="d-flex justify-content-center">
                        <button class="mx-auto">Tech Stack</button>
                    </div>
                    </li>
                </div>
                
            </nav>
        </div>
    </div>
</ol>
</div>