// * {
//     --bistre: #31231E;
//     --shadow: #F4D35E;
//     --moss-green: #8A9B68;
//     --laurel-green: #B6C197;
//     --pale-sptring: #D5DDBC;
//     margin: 0px;
//     padding: 0px;
// }

.eric-photo{
    align-self: flex-end;
}
// .container{
// display: -webkit-flex;
// -webkit-flex-wrap: wrap;
// display: flex;
// flex-wrap: wrap;
// justify-content: center;
// align-self: flex-end;
// }

.bottom{
margin-top: auto;
}

h1{
    font-size: 5em;
        font-weight: 800;
        color:black;
        line-height: 1em;
        text-transform: uppercase;
        animation: fadeInAnimation ease 5s forwards;
        animation-delay: 1s;
        opacity: 0;
}
h2 {
    font-size: 2em;
    font-weight: 600;
    color: black;
    line-height: 1em;
    opacity: 0;
    text-transform: uppercase;
    animation: fadeInAnimation ease forwards;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 978px) {
// .eric-photo{
//     height: 100%;
//     width: 450px;

// }
h1 {
    font-size: 3em;
    font-weight: 800;
    color: black;
    line-height: 1em;
    text-transform: uppercase
}

h2 {
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 1em;
    text-transform: uppercase
}

}

.bars{
    width: 0px;
}


.vert{
    background-color: #828382;
}

.a{
    width: 100px;
}

.col-4{
    min-width: 450px;
}
.col-7 {
    min-width: 400px;
}

app-landing-nav, .bottom {
    opacity: 0;
    animation: fadeInAnimation ease forwards;
    animation-duration: 2s;
    animation-delay: 3s;
}
