// * {
//     --bistre: #31231E;
//     --shadow: #F4D35E;
//     --moss-green: #8A9B68;
//     --laurel-green: #B6C197;
//     --pale-sptring: #D5DDBC;
//     margin: 0px;
//     padding: 0px;
// }

.eric-photo{
    height: 725px;
    align-self: flex-end;
}
// .container{
// display: -webkit-flex;
// -webkit-flex-wrap: wrap;
// display: flex;
// flex-wrap: wrap;
// justify-content: center;
// align-self: flex-end;
// }

.bottom{
margin-bottom: auto;
}

h1{
    font-size: 5em;
        font-weight: 800;
        color:black;
        line-height: 1em;
        text-transform: uppercase
}
h2 {
    font-size: 2em;
    font-weight: 600;
    color: black;
    line-height: 1em;
    text-transform: uppercase
}




.bars{
    width: 0px;
}


.vert{
    background-color: #828382;
}

.a{
    width: 100px;
}

